.secciones{
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
   min-height: 100vh !important;
   width: 100%;
   background-color: beige;
   padding: 0;
   margin: 0;
}

.secciones .presentacion{
   display: flex;
   flex-direction: row;
   justify-content:center;
   align-items:center;
   width: calc(100% - 40px);
   height: 80vh;
   padding: 50px 20px;
   
}
.secciones .presentacion .infoPresentacion{
    display: flex;
    flex-direction: column;
   background-color:rgb(226, 116, 221);
   padding-left: 50px;
   width: 40%;
   border: 2px solid #000;
   border-radius: 5px;
}
.secciones .presentacion .infoPresentacion p{ 
   font-size: 18px;
}
.secciones .presentacion .imgPresentacion{
    margin: 20px;
    padding: 30px;
    top: 20px;
   
}
.secciones .presentacion .imgPresentacion img{
    width: 350px;
    height: 350px;
    object-fit: cover;     
    border-radius: 50%;   
    border: 2px solid #000;
}
