.secciones .proyectos{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
     text-align: center;
    align-items: center;
     gap: 20px;       
    width: 100%;
    height: auto;
    padding-bottom: 100px;
}
app-tarjeta-proyecto{ /* Assuming 'app-my-component' is the child component's selector */
  width: 600px;
  display: block;
}
 