
 .proyecto{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background-color: rgb(226, 116, 221);
    width:100%;
    height: 110px;
    border: 3px solid;       
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    
}
 .proyecto .info{
    display: flex;
    flex-direction:column;
    align-items: start;
    gap: 1.5rem;
    padding: 1rem;
    text-align: left;          
}
 .proyecto .info h2{
    font-size: 20px;
    margin: 5px;
}
 .proyecto .botones{
    display: flex;
    flex-direction:row;
    align-items: end;  
}
 .proyecto .info p {
  margin: 0;
  font-size: 14px;
}
 .proyecto .botones a{
    color: black;
    font-size: 28px;
    margin-right: 20px;
}
.proyecto .botones a:hover {
  color: white;
  transform: scale(1.2);
}