
.cabecera{
    width: calc(100% - 20px);
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.377);
    background-color: rgb(226, 116, 221);
    padding: 10px;
}
.cabecera .menu{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    width: 50%; 
    justify-content: flex-end;
    padding-right: 40px;
}

.cabecera h1{
    font-size: 30px;
    font-weight: 5px;
    margin: 0;
    padding: 0;
}
.cabecera .menu a{
    font-size: 25px;
    font-weight: 5px;
    font-family: "Merriweather", serif;
    color: black;
    text-decoration: none;
    margin: 10px;
}