.mostrarFormulario {
  font-weight: weight;
  font-style: normal;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario {
  background-color: burlywood;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: black;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.651);

}

form {
  width: 70%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}

.campo {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 0.3rem;
  color: black;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 20px;
  width: 90%;
  transition: border-color 0.2s, box-shadow 0.2s;
}

input:focus {
  border-color: rgb(194, 120, 25);
  box-shadow: 0 0 4px rgb(194, 120, 25);
  outline: none;
}

button {
  width: 97%;
  padding: 0.8rem;
  background-color: rgb(170, 88, 12);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
  font-family: "Roboto", sans-serif;

}

@media (max-width: 800px){
  .formulario{
    width: 90%;
  }
  form{
    width: 60%;
  }

  input {
  width: 90%;
}

  button {
  width: 96%;

}

}