footer {
  background-color: rgb(233, 168, 70);
  width: 100%;
  height: 60vh;
  margin: 0%;
}

footer .pieDePagina {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: black;
  padding: 80px;
}

