footer{
    background-color:rgb(226, 116, 221);
    width:100%;
    height:60vh;
    margin:0%;
   
}
footer .pieDePagina{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;    
    color:black;
    padding: 80px;

}
footer .pieDePagina .logosPiePag img{ 
    width: 120px;
    height: 120px;
}
footer .pieDePagina .contacto p h3{
    font-size: 10px;
    font-style: italic;
}
footer .pieDePagina .contacto i{ 
    font-size: 30px;
}
footer .pieDePagina .contacto a {
    color:black;
    text-decoration: none;
}